* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
/* UTILITIES */
body {
	font-family: "Roboto", sans-serif;
	font-weight: 400;
	font-style: normal;
}
ul,
li {
	list-style-type: none;
}
a {
	color: inherit;
	color: rgba(0, 0, 0, 0.55);
}
.flex {
	display: flex;
}
.lightgray {
	background-color: #eaeaea;
}
.p-b20 {
	padding-bottom: 20px;
}
.m-t {
	margin-top: 20px;
}
.m-r {
	margin-right: 10px;
}
.center {
	align-items: center;
}
.between {
	justify-content: space-between;
}
.end {
	text-align: end;
}
.gap {
	gap: 10px;
}
.b-b {
	border-bottom: 1px solid #d6d6d6;
}
.icon-color {
	color: #b1b1b1;
}
.d-block{
	display: block;
}


/* UTILITIES */

img {
	max-width: 100%;
}
.wrapper {
	position: relative;
	width: 100vw;
	height: 100vh;
	overflow: hidden;
	display: flex;
	justify-content: center;
	align-items: center;
}
.app-bg {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}
.header-bg {
	height: 100px;
	width: 100%;
	background-color: rgb(0 150 136);
	position: absolute;
	top: 0;
	left: 0;
}
.bell-icon {
	min-width: 50px;
	height: 50px;
	border-radius: 50%;
	color: #8edafc;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: white;
	font-size: 30px;
	margin-left: 10px;
}
.icon {
	margin-left: 10px;
}

.linear-gradient-bg {
	height: 100%;
	background-color: #d9dbd5;
}
.app {
	position: relative;
	z-index: 1000;
	background-color: white;
	height: 90%;
}

.container {
	width: 80%;
	max-width: 1140px;
}
.row {
	display: flex;
	flex-wrap: wrap;
	height: 100%;
	width: 100%;
}
[class|="col"] {
	height: 100%;
}
.active-notification {
	margin-left: 10px;
}

/* COLONNA 30% */
.col-30 {
	width: 30%;
	/* to remove */
}
.header-30 {
	height: 80px;
	background-color: #eaeaea;
	border-right: 1px solid #d6d6d6;
}
.notification {
	background-color: #8edafc;
	/* to remove */
	height: 100px;
	padding: 0 10px;
}
.search {
	/* to remove */
	height: 50px;
}
.search .lente, 
.search-input{
	background-color: white;
	height: 40px;
}

.search-input{
	width: 200px;
	border: 0;
}
.users {
	height: calc(100% - (80px + 100px + 50px));
	overflow-y: scroll;
	background-color: white;
}
.img-user {
	width: 60px;
	height: 60px;
	border-radius: 50%;
}
.last-acces {
	color: #6d7577;
}


/* /COLONNA 30% */
/* COLONNA 70% */
.col-70 {
	width: 70%;
	height: 100%;
}

.header-70 {
	height: 80px;
}
.footer {
	height: 80px;
}
.message-container {
	background-image: url(../img/mine.jpg);
	width: 100%;
	height: calc(100% - (80px + 80px));
	overflow-y: scroll;
}

.messages {
	padding: 0 30px;
}
.sent,
.received {
	padding: 10px 20px;
	border-radius: 10px;
	margin-top: 10px;
	margin-bottom: 10px;
	width: fit-content;
	max-width: 65%;
	position: relative;
}

.sent {
	background-color: #d5f9ba;
	margin-left: auto;
}
.received {
	background-color: white;
}
.messages .time {
	color: #b1b1b1;
	font-size: 0.75em;
	width: fit-content;
	display: block;
	margin-left: auto;
	margin-top: 5px;
}
.messages .chevron {
	position: absolute;
	top: 10px;
	right: 10px;
	color: #b1b1b1;
	cursor: pointer;
}
.messages .message {
	margin-right: 10px;
}

.dropdown-menu {
	position: absolute;
	border-radius: 3px;
	right: 0;
	top: 20px;
	color: black;
	background-color: #fff;
	-webkit-box-shadow: 0px 0px 4px 0px rgba(0,0,0,0.4); 
	box-shadow: 0px 0px 4px 0px rgba(0,0,0,0.4);
	z-index: 2000;
	
}
.dropdown-menu span {
	text-wrap: nowrap;
	padding: 10px;
	display: block;
	font-size: .8rem;
	transition: all .2s;
}
.dropdown-menu span:hover {
	background-color: #d9dbd589;
}
/* FOOTER */
.icon-footer {
	font-size: 20px;
	color: #6b7376;
	width: 100%;
	padding: 10px;
}
footer {
	background-color: #f3eeea;
	height: 80px;
}
.scrivi-messaggio{
	height: 40px;
	border: 0;
	border-radius: 5px;
	width: 90%;
}
/* /FOOTER */

/* ***********************************************
RESPONSIVE
************************************************** */
@media screen and (max-width: 768px) {
	.container {
		display: block;
		width: 100%;
		height: 100%;
	}
	.col-30 {
		width: 10%;
	}
	.col-70 {
		width: 90%;
	}
	.users {
		width: 80px;
	}
	.header,
	.notification {
		display: none;
	}
	.col-30 h4,
	.first-icon,
	section,
	.search{
		display: none;
	}

}

@media screen and (max-width: 890px) {
	.active-notification {
		font-size: 0.8em;
	}
}

@media screen and (max-width: 425px) {
	.col-70 {
		width: 100%;
		height: 100%;
	}
	.col-30 {
		display: none;
	}
	.linear-gradient-bg,
	.header-bg {
		display: none;
	}
	.col-70 .icon {
		display: none;
	}
}
